.sidebar-menu__menu-content {
  background-color: $white;
  border-bottom: 1px solid alpha-primary(.25);
  border-left: 1px solid alpha-primary(.25);
  border-right: 1px solid alpha-primary(.25);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 10px alpha-primary(.5);
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 500;

  @include media-breakpoint-up(lg){
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    position: static;
  }
}