.footer__box-socials {
  margin-right: 30px;
  margin-top: 28px;
  padding-left: 15px;
  width: 211px;

  @include media-breakpoint-up(sm) {
    margin-right: 25px;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 65px;
    margin-top: 0;
  }
}