.achievements__box_show_list {
  font-size: 18px;
  padding-top: 30px;

  @include media-breakpoint-up(md) {
    font-size: 22px;
  }

  @include media-breakpoint-only(md) {
    justify-content: center;
  }
}