.card__title {
  line-height: 1;
  margin-top: 13px;

  .card_hor &{
    margin-top: 0;
    text-align: center;

    @include media-breakpoint-up(sm){
      text-align: left;
    }
  }

  .card_hor[data-type="video"] &{
    margin-top: -4px;
  }
}