.main-slider__images-wrapper {
  display: none;
  height: 364px;
  position: relative;
  width: 48.8%;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  @include media-breakpoint-only(lg) {
    width: 50%;
  }
}