.navigation {
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: bold;

  .navigation-wrapper_style_full-length & {
    background-color: $navigation_bg_content;
  }

  &:last-child{
    position: absolute;
    left: 0;
    right: 0;
  }

  @include media-breakpoint-up(md){

    &:last-child{
      position: static;
    }
  }

  @include media-breakpoint-up(lg){
    font-size: 18px;
  }
}