.line {
  margin: 44px 0 0;
  position: relative;

  &::before{
      content: '';
      background-color: $primary;
      display: block;
      position: absolute;
      top: 52px;
      bottom: 51px;
      left: 0;
      right: 0;
      z-index: 1;
  }
}