.main__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0;

  @include media-breakpoint-up(sm){
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include media-breakpoint-up(md){
    justify-content: space-around;
  }

  @include media-breakpoint-up(lg){
    margin: 10px 0 4px;
  }

  @include media-breakpoint-up(xl){
    justify-content: space-between;
  }
}