.main__sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  width: 100%;

  @include media-breakpoint-up(md){
    flex-wrap: nowrap;
    margin-left: 37px;
  }

  @include media-breakpoint-up(lg){
    justify-content: flex-start;
    width: auto;
  }
}