.btn__bar {
  background-color: $primary;
  display: block;
  height: 3px;
  transition: all .3s ease-out;

  & + .btn__bar{
    margin-top: 9px;
  }

  &:first-child{
    transform-origin: left top;
  }

  &:last-child{
    transform-origin: left bottom;
  }

  .header__menu &{

    &:last-child{
      margin-left: auto;
      width: 33px;
    }
  }

  .header__menu .btn_transparent:hover &{
    background-color: $secondary;
  }

  .header__menu .btn_close &{
    position: relative;

    &:first-child{
      top: -4px;
    }

    &:last-child{
      bottom: -5px;
      width: 100%;
    }
  }

  .btn_close &{

    &:first-child{
      transform: rotate(45deg);
    }

    &:nth-child(2){
      opacity: 0;
    }

    &:last-child{
      transform: rotate(-45deg);
    }
  }
}