.dropdown_open {
  border-radius: 0 0 14px 14px!important;
  overflow: visible!important;

  &::after{
    border-width: 0 3px 5px 3px!important;
    border-color: transparent transparent $primary transparent!important;
  }
}