.btn_transparent {
  background-color: transparent;
  border: 0 none;

  .modal__header &{
    cursor: pointer;
    font-size: 28px;
    line-height: 1;
    position: absolute;
    top: 0;
    transition: color .3s ease-out;

    @include media-breakpoint-up(sm){
      font-size: 38px;
    }
  }

  .modal_media &{
    right: 0;

    @include media-breakpoint-up(md){
      right: 27px;
    }
  }

  .modal_feedback &{
    right: 0;
    top: 8px;

    @include media-breakpoint-up(md){
      right: -72px;
    }
  }
}