.photogallery__descr-wrapper {
  background-color: $white;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 95%;

  @include media-breakpoint-only(sm){
    width: 490px;
  }

  @include media-breakpoint-only(md){
    width: 620px;
  }

  @include media-breakpoint-only(lg){
    width: 712px;
  }

  @include media-breakpoint-only(xl){
    width: 875px;
  }

  @include media-breakpoint-up(sm){
    margin: 0 10px;
  }

  @include media-breakpoint-up(md){
    flex-direction: row;
    margin: 0 35px;
    padding: 29px 32px 10px 32px;
  }

  .modal__body_video &{
    margin: 0 auto;
    width: 90%;

    @include media-breakpoint-only(xs){
      width: 100%;
    }
  }
}