.card_hor {
  border: 0 none;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 2px;
  margin-top: 20px;
  padding: 4px;
  width: 100%;

  &:hover{
    background-color: $navigation_bg_content;
    box-shadow: none;
  }

  &:last-child{
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm){
    margin-top: 0;
    padding: 14px;
  }

  @include media-breakpoint-up(md){
    flex-direction: row;
  }
}