.news__photo-wrapper {
  border-radius: inherit;
  overflow: hidden;
  height: 100%;

  &::before{
    content: '';
    border: 5px solid $secondary;
    border-radius: inherit;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s ease-out .15s;
    z-index: 100;
  }

  .news__item_little:hover &::before,
  .news__item_show &::before{
    opacity: 1;
  }
}