.logo {
  width: 70%;

  .footer &{
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  @include media-breakpoint-up(lg) {
    margin: 0;
    width: 100%;
  }
}