.navigation__list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 18px;

  .navigation-wrapper_style_content &{
    background-color: $navigation_bg_index;
    border-radius: 4px;
  }

  @include media-breakpoint-up(md){
    display: flex;
    flex-wrap: nowrap;
    padding: 17px 28px 19px;
  }
}