html{
  height: 100%;
}

body{
  color: $primary;
  font-family: $font-family-main;
  font-size: $font-size * .875;
  height: 100%;
  min-width: 300px;

  @include media-breakpoint-up(sm){
    font-size: $font-size;
  }
}

h1{
  font-size: $h1-font-size - 16;

  @include media-breakpoint-up(sm){
    font-size: $h1-font-size - 8;
  }

  @include media-breakpoint-up(xl){
    font-size: $h1-font-size;
  }
}

h2{
  font-size: $h2-font-size - 2;

  @include media-breakpoint-up(md){
    font-size: $h2-font-size;
  }
}

ul{
  list-style: $list-style;
  margin-bottom: $list-margin-bottom;
  padding: $list-padding;
}

p{
  line-height: $line-height;
}

svg{
  display: block;
}

.hidden-xs{

  @include media-breakpoint-only(xs){
    display: none!important;
  }
}

.visible-xs{

  @include media-breakpoint-up(sm){
    display: none!important;
  }
}