.breadcrumbs__item {
  font-size: 14px;
  position: relative;
  margin: 4px 0 4px 26px;

  &:first-child::before{
    display: none;
  }

  &::before{
    content: '\e90a';
    color: $secondary;
    font-family: 'icomoon' !important;
    font-size: 5px;
    left: -16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up(sm) {
    margin: 0 0 0 26px;

    &:first-child{
      margin: 0;
    }
  }
}