.slider__header {

  .slider_main & {
    font-family: $font-family-sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    transition: all .25s ease-out;

    &:hover{
      color: $secondary;
    }

    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
  }
}