.photogallery__box_grid {
  align-content: space-between;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0 23px;
  padding: 20px 0;
  width: 165px;

  @include media-breakpoint-up(sm){
    height: 395px;
  }

  @include media-breakpoint-only(sm){
    width: 360px;
  }

  @include media-breakpoint-only(md){
    width: 555px;
  }

  @include media-breakpoint-only(lg){
    width: 747px;
  }

  @include media-breakpoint-up(xl){
    margin-left: 29px;
    margin-right: 25px;
    width: 945px;
  }
}