.filter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include media-breakpoint-up(md){
    flex-direction: row;
  }

  @include media-breakpoint-only(lg){
    margin: 20px auto 0;
  }

  @include media-breakpoint-up(xl){
    margin: 0 0 -2px 56px;
  }
}