@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?lwo7sz') format('truetype'),
    url('fonts/icomoon.woff?lwo7sz') format('woff'),
    url('fonts/icomoon.svg?lwo7sz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e912";
  color: #fff;
}
.icon-share:before {
  content: "\e911";
  color: #586b78;
}
.icon-arr:before {
  content: "\e90f";
}
.icon-arr_top:before {
  content: "\e910";
}
.icon-triangle_right:before {
  content: "\e913";
  color: #fff;
}
.icon-big_triangle:before {
  content: "\e90e";
  color: #b4c0c7;
}
.icon-close:before {
  content: "\e90b";
  color: #fff;
}
.icon-forma:before {
  content: "\e90c";
  color: #edc146;
}
.icon-triangle:before {
  content: "\e90a";
  color: #edc146;
}
.icon-menu:before {
  content: "\e907";
}
.icon-arr_left:before {
  content: "\e908";
}
.icon-arr_right:before {
  content: "\e909";
}
.icon-f:before {
  content: "\e900";
  color: #fff;
}
.icon-inst:before {
  content: "\e901";
  color: #fff;
}
.icon-tw:before {
  content: "\e902";
  color: #fff;
}
.icon-vk:before {
  content: "\e903";
  color: #fff;
}
.icon-youtube:before {
  content: "\e904";
  color: #fff;
}
.icon-close-win:before {
  content: "\e90d";
  color: #fff;
}
.icon-eye:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
