$icomoon-font-path: "fonts" !default;

$icon-mail: "\e912";
$icon-share: "\e911";
$icon-arr: "\e90f";
$icon-arr_top: "\e910";
$icon-triangle_right: "\e913";
$icon-big_triangle: "\e90e";
$icon-close: "\e90b";
$icon-forma: "\e90c";
$icon-triangle: "\e90a";
$icon-menu: "\e907";
$icon-arr_left: "\e908";
$icon-arr_right: "\e909";
$icon-f: "\e900";
$icon-inst: "\e901";
$icon-tw: "\e902";
$icon-vk: "\e903";
$icon-youtube: "\e904";
$icon-close-win: "\e90d";
$icon-eye: "\e905";
$icon-search: "\e906";

