.main__news-date {
  background-color: $white;
  box-sizing: content-box;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 11px 0 22px;
  position: absolute;
  top: 20px;
  width: 68px;
  z-index: 10;
}