.footer__box {
  margin-top: 28px;

  &.footer__box_half{
    margin-top: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    width: 30%;
  }

  @include media-breakpoint-up(xl) {
    width: 25%;
  }
}