.dropdown {
  background-color: $white;
  border: 1px solid alpha-primary(.34);
  border-radius: 28px;
  cursor: pointer;
  letter-spacing: -1px;
  margin-top: 20px;
  overflow: hidden;
  padding: 5px 14px 2px;
  position: relative;
  z-index: 50;

  &::after{
    content: '';
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: $primary transparent transparent transparent;
    height: 0;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-out;
    width: 0;
    z-index: 100;
  }
}