.mark {
  background-color: $secondary;
  border-radius: 12px;
  color: $primary;
  display: inline-block;
  font-size: 12px;
  font-family: $font-family-main;
  line-height: 1.5;
  padding: 0 6px 0 10px;

  .modal__header &{
    border-radius: 19px;
    float: none;
    font-size: 14px;
    margin: 0 0 0 1px;
    padding: 5px 19px 5px 19px;
    position: static;

    @include media-breakpoint-up(md) {
      font-size: 18px;
      padding: 5px 22px 6px 19px;
    }
  }

  .card__footer &{
    background-color: $navigation_bg_content;
    float: none;
    margin: 0 3px 3px 0;
    padding: 3px 10px 2px 9px;
    top: 0;

    &:hover{
      background-color: $secondary;
    }
  }

  @include media-breakpoint-up(sm) {
    float: right;
    margin-left: 10px;
    position: relative;
    top: -9px;
  }
}