.enrollees__item {
  line-height: 1.15;
  margin-bottom: 14px;
  padding-right: 0;
  width: 100%;

  @include media-breakpoint-up(sm) {
    padding-right: 23px;
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
}