.btn_sort {
  background-color: $navigation_bg_content;
  border-radius: 17px;
  line-height: 1;
  margin: 18px 10px 0 0;
  padding: 8px 41px 8px 14px;
  position: relative;
  transition: all .3s ease-out;
  text-align: left;
  min-width: 133px;

  &:hover{
    background-color: darken($navigation_bg_content, 10%);
  }

  @include media-breakpoint-only(md){
    margin: 14px 10px 0 0;
    min-width: auto;
  }

  @include media-breakpoint-only(lg){
    margin: 0 10px 0 0;
  }

  @include media-breakpoint-only(xl){
    margin: 0 10px 4px 0;
  }
}