.slider_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;

  @include media-breakpoint-up(md) {
    padding: 53px 30px 31px 46px;
  }

  @include media-breakpoint-only(lg) {
    padding: 20px;
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 51.2%;
  }
}