.news {
  background-color: $primary;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  margin-top: 42px;
  padding: 40px 0;

  @include media-breakpoint-up(lg) {
    padding: 70px 0;
  }

  @include media-breakpoint-up(xl) {
    background-image: url(./../../bundles/images/news/bg.jpg);
  }
}