.main__header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:not(:last-child){
    margin-bottom: 18px;

    @include media-breakpoint-up(lg){
      margin-bottom: 7px;
    }
  }

  & + &{
    align-items: center;
    font-size: 14px;
    margin-bottom: 21px;

    @include media-breakpoint-up(lg){
      margin-top: 11px;
    }
  }

  @include media-breakpoint-only(sm){
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media-breakpoint-up(md){
    align-items: flex-end;
    flex-direction: row;
  }

  @include media-breakpoint-between(md, lg){
    & + &{
      flex-wrap: wrap;
    }
  }

  @include media-breakpoint-between(sm, md){
    justify-content: center;
  }
}