.slider__arrow-box {
  background-color: $white;
  flex: 0 0 auto;
  position: relative;
  z-index: 40;

  &:first-child{
    left: -1px;
    top: -1px;
  }

  &:last-child{
    bottom: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }
}