.card__text {
  display: none;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;

  .card_hor &{
    margin-top: 13px;
  }

  .card_hor[data-type="video"] &{
    margin-top: 9px;
  }

  @include media-breakpoint-up(md){
    display: block;
  }
}