.events__text {
  font-size: 14px;
  line-height: 24px;
  padding: 30px 35px 0 34px;
  position: relative;

  &::before{
    font-size: 40px;
    left: 1px;
    position: absolute;
    transition: color .2s ease-out;
    top: 0;

    .events__box:hover &{
      color: $secondary;
    }
  }
}