.enrollees__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & + &{
    margin-top: 24px;
  }

  @include media-breakpoint-only(lg) {
    width: 70%;
  }

  @include media-breakpoint-up(xl) {

    &:first-child{
      height: 260px;
      width: 51%;
    }

    &:last-child{
      width: 49%;
    }

    & + &{
      margin-top: 0;
    }
  }
}