.important-day__event {
  color: alpha-primary(.6);
  font-size: 14px;
  line-height: 1.5;
  padding-left: 27px;
  position: relative;

  & + &{
    margin-top: 9px;
  }

  &::before{
    content: '•';
    color: $secondary;
    font-size: 27px;
    left: -3px;
    line-height: .7;
    position: absolute;
    top: 1px;
  }

  @include media-breakpoint-only(sm) {
    width: 50%;

    & + &{
      margin-top: 0;
    }
  }
}