.settings {
  align-items: center;
  display: flex;
  height: 65px;
  justify-content: space-between;
  margin: 0 auto;
  width: 216px;

  @include media-breakpoint-only(md) {
    margin-top: 28px;
  }

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}