.social-talk__net {
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 5px 10px alpha-primary(.1);
  height: 42px;
  margin: -25px auto 10px;
  position: relative;
  z-index: 10;
  width: 42px;
}