.dropdown__list {
  background-color: inherit;
  border: inherit;
  border-radius: 14px 14px 0 0;
  display: none;
  left: -1px;
  opacity: 0;
  padding: inherit;
  position: absolute;
  right: -1px;
  top: 0;
  transition: opacity .3s ease-out;
  z-index: 20;

  &:hover{
    cursor: default;
  }

  .dropdown_open &{
    display: block;
    opacity: 1;
  }
}