.important-day {
  margin-top: 20px;
  width: 100%;

  @include media-breakpoint-only(sm) {
    display: flex;
    flex-wrap: wrap;
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding: 1px 25px 0 4px;
    width: 50%;
  }
}