.sidebar-menu__menu {
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  transition: all .3s ease-out;

  @include media-breakpoint-between(xs, md){
    background-color: $white;
    z-index: 100;
  }

  @include media-breakpoint-between(xs, sm){
    padding: 0 20px 20px;
  }

  @include media-breakpoint-only(md){
    margin-left: auto;
    margin-right: auto;
    padding: 0 86px 20px;
  }
}