.input {
  background-color: transparent;
  border: 1px solid alpha-primary(.34);
  border-radius: 16px;
  box-sizing: border-box;
  line-height: 1;
  padding: 7px 13px 8px;
  transition: all .3s ease-out;

  &:hover,
  &:focus{
    border-color: $primary;
  }

  .tags__subscribe &{
    font-size: 14px;
    margin: 0 14px 14px;
    width: 338px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}