.news__descr-wrapper {
  background-color: rgba($black, .95);
  border-radius: 12px;
  display: none;
  left: 0;
  line-height: 1.3;
  opacity: 0;
  padding: 10px;
  position: absolute;
  width: 270px;
  z-index: 150;

  &::before{
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba($black, .95);
    bottom: -8px;
    display: block;
    height: 0;
    left: 32px;
    position: absolute;
    transform: translateX(-50%);
    transition: all .1s ease-out .15s;
    width: 0;
  }
  
  .news__item_show &{
    display: block;
    opacity: 1;
  }

  @include media-breakpoint-up(sm) {
    line-height: 1.2;
    padding: 14px;
    width: 340px;
  }

  @include media-breakpoint-up(md) {
    line-height: 1.15;
    padding: 16px 18px 18px 18px;
    width: 461px;
  }
}