.input_search {
  background-color: $navigation_bg_content;
  border: 0 none;
  border-radius: 40px;
  font-size: 24px;
  line-height: 34px;
  padding: 18px 70px 18px 18px;
  position: absolute;
  right: -150px;
  top: -18px;
  transition: all .2s ease-out;
  width: 270px;
  z-index: 50;

  @include media-breakpoint-only(sm){
    right: -275px;
    width: 510px;
  }

  @include media-breakpoint-up(md) {
    right: -18px;
  }

  @include media-breakpoint-only(md){
    width: 330px;
  }

  @include media-breakpoint-only(lg){
    width: 440px;
  }

  @include media-breakpoint-only(xl){
    width: 610px;
  }
}