.sidebar__blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include media-breakpoint-only(md){
    justify-content: space-around;
  }

  @include media-breakpoint-up(lg){
    display: block;
  }
}