.iframe {
  border: 0 none;

  .modal__body_video &{
    display: block;
    height: 200px;
    width: 100%;

    @include media-breakpoint-up(sm){
      height: 255px;
      margin: 0 auto;
      width: 510px;
    }

    @include media-breakpoint-up(md){
      height: 345px;
      width: 690px;
    }

    @include media-breakpoint-up(lg){
      height: 465px;
      width: 930px;
    }

    @include media-breakpoint-up(xl){
      height: 475px;
      width: 945px;
    }
  }
}