.header__menu {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  position: relative;
  width: 100%;
  z-index: 500;

  .header_border &{
    padding-top: 31px;
  }

  @include media-breakpoint-up(md) {
    width: 363px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;

    .header_border &{
      padding-top: 0;
    }
  }
}