.enrollees__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  @include media-breakpoint-up(lg) {
    margin-top: 38px;
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
  }
}