.sidebar-menu__header {
  font-family: $font-family-sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.25;
  padding-left: 24px;

  @include media-breakpoint-up(sm){
    font-size: 30px;
    line-height: 28px;
  }
}