.main__content {
  margin-top: 18px;
  margin-bottom: 44px;
  position: relative;
  width: 100%;

  .main:not(.main_border) &{
    margin-bottom: 12px;
  }

  @include media-breakpoint-up(lg){
      width: 80%;
  }
}