.link_toggle-tags {
  border-bottom: 1px dashed;
  margin-top: 18px;

  @include media-breakpoint-up(sm){
    margin-left: auto;
    margin-top: 0;
  }

  @include media-breakpoint-only(sm){
    margin-left: 52px;
  }

  @include media-breakpoint-only(md){
    margin-left: 160px;
    margin-right: 10px;
  }
}