.form {
  font-size: 16px;
  padding: 20px;

  .modal_feedback &{
    background-color: $white;
    border-radius: 10px;
    margin-left: 3px;
    margin-top: 20px;
    width: auto;
  }

  @include media-breakpoint-up(sm){
    font-size: 18px;
    padding: 35px;
  }

  @include media-breakpoint-up(lg){
    padding: 45px 52px 52px 48px;

    .modal_feedback &{
      margin-top: 40px;
      width: 613px;
    }
  }
}