.calendar__days {
  align-content: space-between;
  color: $calendar-days;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  height: 176px;
  justify-content: space-between;
  margin-top: 12px;
  width: 204px;
}