.card__body {
  height: auto;
  overflow: hidden;
  padding: 12px 21px 12px 17px;
  position: relative;

  &::before{
    content: '';
    bottom: 0;
    left: 14px;
    position: absolute;
    right: 14px;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95), #fff);
    pointer-events: none;
    visibility: hidden;
  }

  .card_hor &{
    padding: 14px 0 0 0;

    &::before{
      display: none;
    }

    @include media-breakpoint-up(md){
      padding: 0 0 0 14px;
    }

    @include media-breakpoint-up(xl){
      padding: 26px 0 12px 30px;
    }
  }

  .card_hor[data-type="video"] &{
    padding: 14px 0 0 0;

    @include media-breakpoint-up(md){
      padding: 0 0 0 14px;
    }

    @include media-breakpoint-up(xl){
      padding: 0 0 0 30px;
    }
  }

  @include media-breakpoint-up(md){
    height: 289px;

    &::before{
      visibility: visible;
    }

    &:not(:last-child){
      height: 280px;
    }

    .card_hor &{
      height: auto;
    }
  }
}