.slider-banners__img {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  transition: filter .2s ease-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  &:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}