.photogallery__share {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-right: 1px;
  margin-top: 14px;
  position: relative;
  top: 0;

  @include media-breakpoint-up(md){
    margin-top: 0;
  }

  @include media-breakpoint-up(lg){
    top: -13px;
  }
}