.slider__bullet {
  background-color: #fff;
  border: 1px solid $primary;
  border-radius: 6px;
  display: block;
  height: 11px;
  margin: 0 2px;
  width: 11px;

  &:hover {
    cursor: pointer;
  }
}