.img {
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  width: 50%;

  .main-slider &{
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 15px 15px alpha-primary(.15);
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    max-width: 100%;

    @include media-breakpoint-only(lg) {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .achievements &{
    border-radius: 0;
    margin: 0;

    @include media-breakpoint-up(md){
      float: none;
      width: 100%;
    }
  }

  .link-block &{
    margin: 0;
    position: relative;
    width: 100%;
  }

  .card__img &{
    border-radius: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .photogallery__photo &{
    margin: 0;
    width: 100%;
    position: absolute;
    transition: opacity .2s ease-out;
  }

  .photogallery__box_grid &{
    border-radius: 10px;
    border: 0 none;
    height: 165px;
    margin: 0;
    transition: all .2s ease-out;
    width: 165px;

    &:hover {
      box-shadow: 0 0 12px rgba($navigation_bg_content, .75);
    }
  }

  @include media-breakpoint-up(md){
    float: right;
    margin: 15px;
    width: 40%;
  }

  @include media-breakpoint-up(lg){
    width: auto;
  }

  @include media-breakpoint-up(xl){
    margin: 26px 31px 30px 30px;
  }
}