.main__header {
  font-family: $font-family-sans-serif;
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  width: 100%;

  &:last-child {
    margin-top: 8px;
  }

  @include media-breakpoint-up(lg){
    text-align: left;
    width: auto;
  }
}