.slider_gallery {
  margin: 0 auto;
  width: 290px;

  @include media-breakpoint-up(sm){
    width: 510px;
  }

  @include media-breakpoint-up(md){
    width: 690px;
  }

  @include media-breakpoint-up(lg){
    width: 100%;
  }
}