.mark_bottom {
  float: right;
  font-size: 15px;
  line-height: 1;
  padding: 4px 12px 4px 8px;
  position: relative;
  top: 14px;

  @include media-breakpoint-up(sm) {
    right: 2px;
    top: 9px;
  }
}