.tags__list {
  columns: 2;
  padding: 15px;

  @include media-breakpoint-up(sm){
    columns: 3;
    padding: 23px 10px 13px 27px;
  }

  @include media-breakpoint-up(md){
    columns: 4;
  }

  @include media-breakpoint-up(lg){
    columns: 3;
  }

  @include media-breakpoint-up(xl){
    columns: 5;
  }
}