.news__item_little {
  border-radius: 34px;
  margin-top: 23px;
  margin-bottom: 9px;

  .news__item-box &{
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(xl) {

    .news__item-box &{
      margin-left: 0;
      margin-right: 0;
    }
  }
}