.photogallery__photo {
  border-radius: 10px;
  box-shadow: 0 5px 15px alpha-primary(.3);
  height: 147px;
  overflow: hidden;
  position: relative;
  z-index: 10;

  @include media-breakpoint-only(sm){
    height: 259px;
  }

  @include media-breakpoint-only(md){
    height: 350px;
  }

  @include media-breakpoint-up(lg){
    height: 480px;
  }
}